# Copyright (c) 2022-2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_MLEGO_M66_REV4 || SHIELD_MLEGO_M66_REV4_LS011B7DH03 || SHIELD_MLEGO_M66_REV4_LS013B7DH03 || SHIELD_MLEGO_M66_REV4_LS013B7DH05 || SHIELD_MLEGO_M66_REV4_EINK154 || SHIELD_MLEGO_M66_REV4_EINK213

config ZMK_KEYBOARD_NAME
    default "mlego r4 60x168" if SHIELD_MLEGO_M66_REV4_LS011B7DH03
    default "mlego r4 128x128" if SHIELD_MLEGO_M66_REV4_LS013B7DH03
    default "mlego r4 144x168" if SHIELD_MLEGO_M66_REV4_LS013B7DH05
    default "mlego r4 eink154" if SHIELD_MLEGO_M66_REV4_EINK154
    default "mlego r4 eink213" if SHIELD_MLEGO_M66_REV4_EINK213
    default "mlego m66 r4" 

config SPI
	default y

config ZMK_DISPLAY
	select LV_USE_CONT
	select LV_FONT_MONTSERRAT_26

if ZMK_DISPLAY

config SYSTEM_WORKQUEUE_STACK_SIZE
    default 2048

config LV_Z_MEM_POOL_SIZE
     default 4096

choice LV_FONT_DEFAULT
    default LV_FONT_DEFAULT_MONTSERRAT_26

endchoice

choice ZMK_DISPLAY_WORK_QUEUE
    default ZMK_DISPLAY_WORK_QUEUE_DEDICATED
endchoice


config ZMK_DISPLAY_DEDICATED_THREAD_STACK_SIZE
    default 4096

config ZMK_DISPLAY_DEDICATED_THREAD_PRIORITY
    default 10

choice ZMK_LV_FONT_DEFAULT_SMALL
    default ZMK_LV_FONT_DEFAULT_SMALL_MONTSERRAT_26

endchoice

config LS0XX
	default y if SHIELD_MLEGO_M66_REV4_LS011B7DH03
	default y if SHIELD_MLEGO_M66_REV4_LS013B7DH03
	default y if SHIELD_MLEGO_M66_REV4_LS013B7DH05
  default n 

config LV_Z_BITS_PER_PIXEL
	default 1

choice LV_COLOR_DEPTH
	default LV_COLOR_DEPTH_1

endchoice

config LV_DPI_DEF
	default 161 if SHIELD_MLEGO_M66_REV4_EINK154
	default 161 if SHIELD_MLEGO_M66_REV4_EINK213
	default 161 if SHIELD_MLEGO_M66_REV4_LS011B7DH03
  default 142 if SHIELD_MLEGO_M66_REV4_LS013B7DH03
  default 161 

config LV_Z_VDB_SIZE
	default 100

config ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
   imply MLEGO_WIDGET_STATUS

config MLEGO_BONGO_CAT
   bool "enable bongo cat on th widgt"
   imply MLEGO_WIDGET_STATUS
   select ZMK_WPM
   select LVGL_USE_ANIMATION
  
config MLEGO_WIDGET_STATUS
    bool "Custom mlego status widget"
    select LV_FONT_MONTSERRAT_16
    select LV_FONT_MONTSERRAT_14
    select LV_FONT_MONTSERRAT_18
    select LV_USE_IMG
    select LV_USE_CANVAS

config MLEGO_BONGO_CAT_IDLE_LIMIT
    int "Upper limit for WPM for showing idle animation"
    default 30

config MLEGO_BONGO_CAT_SLOW_LIMIT
    int "Upper limit for WPM for showing slow typing image"
    default 60

config MIP_WIDTH
   int "width of the mip, sharp, memory display"
   default 160

config MIP_HEIGHT
   int "height of the mip, sharp, memory display"
   default 68

config MIP_CANVAS
   int "canvas size of the mip, sharp, memory display"
   default 68

config MIP_ROTATE
   int "angle to rotate elements in screen mip, sharp, memory display in units of 0.1"
   default 0


endif # ZMK_DISPLAY

endif # MLEGO_M66_REV4
