# Copyright (c) 2022-2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

config  SHIELD_MLEGO_M66_REV4
   def_bool $(shields_list_contains,mlego_m66_rev4)

config  SHIELD_MLEGO_M66_REV4_LS013B7DH03
   def_bool $(shields_list_contains,mlego_m66_rev4_ls013b7dh03)

config  SHIELD_LS013B7DH05
   def_bool $(shields_list_contains,ls013b7dh05)

config  SHIELD_LS011B7DH03
   def_bool $(shields_list_contains,ls011b7dh03)

config  SHIELD_MLEGO_M66_REV4_EINK154
   def_bool $(shields_list_contains,mlego_m66_rev4_eink154)

config  SHIELD_MLEGO_M66_REV4_EINK213
   def_bool $(shields_list_contains,mlego_m66_rev4_eink213)
