ZMK_UNICODE_PAIR(my_aA , N0, N3, B, N1  , N0, N3, N9, N1  ) // α/Α
ZMK_UNICODE_PAIR(my_bB , N0, N3, B, N2  , N2, N2, N2, N9  ) // β/∩
ZMK_UNICODE_PAIR(my_cC , N0, N3, C, N7  , N2, N2, N8, N2  ) // χ/⊂
ZMK_UNICODE_PAIR(my_dD , N0, N3, B, N4  , N2, N2, N0, N2  ) // δ/∂
ZMK_UNICODE_PAIR(my_eE , N0, N3, B, N5  , N2, N1, N0, N7  ) // ε/ℇ
ZMK_UNICODE_PAIR(my_fF , N0, N3, C, N6  , N0, N3, C, N8  ) // φ/ψ
ZMK_UNICODE_PAIR(my_gG , N0, N3, B, N3  , N0, N3, N9, N3  ) // γ/Γ
ZMK_UNICODE_PAIR(my_hH , N2, N1, N0, F  , N2, N1, N0, B  ) // ℏ/ℋ
ZMK_UNICODE_PAIR(my_iI , N2, N2, N2, B  , N2, N2, N2, E  ) // ∫/∮
ZMK_UNICODE_PAIR(my_jJ , N2, N2, N0, N8  , N2, N2, N0, N9  ) // ∈/∉
ZMK_UNICODE_PAIR(my_kK , N0, N3, F, N0  , N2, N2, N0, N6  ) // ϰ/∆
ZMK_UNICODE_PAIR(my_lL , N0, N3, B, B  , N0, N3, N9, B  ) // λ/Λ
ZMK_UNICODE_PAIR(my_mM , N0, N3, B, C  , N2, N2, N1, N8  ) // μ/∘
ZMK_UNICODE_PAIR(my_nN , N0, N3, B, N7  , N2, N2, N2, A  ) // η/∪
ZMK_UNICODE_PAIR(my_oO , N2, N2, N1, E  , N2, N2, N9, N7  ) // ∞/⊗
ZMK_UNICODE_PAIR(my_pP , N0, N3, C, N0  , N2, N2, N0, F  ) // π/∏
ZMK_UNICODE_PAIR(my_qQ , N0, N3, C, N3  , N0, N3, D, N5  ) // σ/ϕ
ZMK_UNICODE_PAIR(my_rR , N0, N3, C, N1  , N2, N2, N0, N7  ) // ρ/∇
ZMK_UNICODE_PAIR(my_sS , N2, N2, N1, N1  , N2, A, N0, B  ) // ∑/⨋
ZMK_UNICODE_PAIR(my_tT , N0, N3, D, N1  , N0, N3, B, N8  ) // ϑ/θ
ZMK_UNICODE_PAIR(my_uU , N0, N3, C, N4  , N2, N1, N0, N2  ) // τ/ℂ
ZMK_UNICODE_PAIR(my_vV , N0, N3, B, D  , N2, N2, N8, N3  ) // χ/⊃
ZMK_UNICODE_PAIR(my_wW , N0, N3, C, N9  , N0, N3, A, N9  ) // ω/Ω
ZMK_UNICODE_PAIR(my_xX , N0, N3, B, E  , N0, N3, N9, E  ) // ξ/Ξ
ZMK_UNICODE_PAIR(my_yY , N2, N1, N1, D  , N2, N1, N2, N4  ) // ℝ/ℤ
ZMK_UNICODE_PAIR(my_zZ , N0, N3, B, N6  , N2, N2, N2, N1  ) // ζ/∡
ZMK_UNICODE_PAIR(my_cC1 , N2, N2, N4, N8  , N2, N2, N4, N9  ) // ≈/≉
ZMK_UNICODE_PAIR(my_pP1 , N0, N0, B, N1  , N2, N2, N1, N3  ) // ±/∓
ZMK_UNICODE_PAIR(my_qQ1 , N0, N0, D, N7  , N2, N2, C, N5  ) // ×/⋅
ZMK_UNICODE_PAIR(my_lL1 , N0, N0, B, N0  , N2, N1, N1, N2  ) // °/ℒ
ZMK_UNICODE_PAIR(my_kK1 , N2, N2, N1, D  , N2, N1, N2, B  ) // ∝/Å
ZMK_UNICODE_PAIR(my_bo , N2, N2, D, C  , N2, N2, N6, N0  ) // ⋜/≠
ZMK_UNICODE_PAIR(my_bc , N2, N2, D, D  , N2, N2, N4, N5  ) // ⋝/≅
ZMK_UNICODE_PAIR(my_ss2 , N2, N2, N6, N1  , N2, N2, N6, N2  ) // ≡/≢
ZMK_UNICODE_PAIR(my_xXr , N0, N0, E, N7  , N0, N0, C, N7  ) // ç/Ç
ZMK_UNICODE_PAIR(my_cCr , N2, N2, N8, N4  , N2, N2, N8, N6  ) // ⊄/⊆
ZMK_UNICODE_PAIR(my_vVr , N2, N2, N8, N5  , N2, N2, N8, N7  ) // ⊅/⊇
ZMK_UNICODE_PAIR(my_bBr , N2, N2, N2, N7  , N2, N2, B, C  ) // ∧/⊼
ZMK_UNICODE_PAIR(my_nNr , N2, N2, N2, N8  , N2, N2, B, B  ) // ∨/⊻
