# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_MLEGO5X13

config ZMK_KEYBOARD_NAME
    default "mlego5x13"

endif

if BUILD_OUTPUT_UF2

config BUILD_OUTPUT_UF2_USE_FLASH_BASE
    default y

config BUILD_OUTPUT_UF2_USE_FLASH_OFFSET
    default y

endif # BUILD_OUTPUT_UF2
