# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_MLEGO5X13
    def_bool $(shields_list_contains,mlego5x13)

config USB_DEVICE_PID
	default 0x6361
config USB_DEVICE_VID
	default 0xBABA
