# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_MLEGO2x2_REV2

config ZMK_KEYBOARD_NAME
    default "mlego m2x2 rev2"

config SPI
	default y

if ZMK_RGB_UNDERGLOW

config WS2812_STRIP

  default y

endif

if ZMK_DISPLAY

config I2C
  default y

config SSD1306
  default y

config SSD1306_REVERSE_MODE
  default y

config ZMK_DISPLAY_BLANK_ON_IDLE
  default y

endif # ZMK_DISPLAY

if LVGL

config LV_Z_VDB_SIZE
  default 64

config LV_Z_DPI
  default 148

config LV_Z_BITS_PER_PIXEL
	default 1

choice LV_COLOR_DEPTH
  default LV_COLOR_DEPTH_1
endchoice

endif # LVGL

endif # SHIELD_MLEGO2x2
